NODE_ENV=development
PORT=3000

POSTGRES_USER=github_tracker
POSTGRES_PASSWORD=cambiame
POSTGRES_DB=github_tracker
POSTGRES_PORT=5432

DATABASE_URL=postgres://github_tracker:cambiame@localhost:5432/github_tracker
